<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite to public folder">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="app/public/{R:1}" />
                </rule>
			</rules>
		</rewrite>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
</configuration>

